@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #000;
    --text_light: #ffffff9a;
    --text_invert: #ffffff;
    --text_blue: #367AFF;
    --text_white: #f5f5f5;

    --border: #ffffff9a;
    --border_thick: #000;

    --bg: #f9f9f9;
    --bg_light: #ffffff9a;
    --bg_invert: #1d2432;

    --app_blue: #367AFF;

    --app_width: min(97vw, 1400px);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --text: #000;
        --text_invert: #ffffff;

        --border: gray;
        --border_thick: #000;

        --bg: #f9f9f9;
        --bg_light: gray;
        --bg_invert: #1d2432; */
    }
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background: none;
}

body {
    background-color: var(--bg);
    color: var(--text);
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

li {
    list-style: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

button {
    cursor: pointer;
    white-space: nowrap;
}
